
.user-page {
    display: flex;
    height: 100vh;
  }
  
  .u-content {
    flex: 1;
    background-image: url('../Images/User_page.png');
    background-size: cover;
    background-position: center;
    position: relative;
  }